@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f7f5;
  -webkit-font-smoothing: antialiased;
}

/* Prevents iOS from zooming on input focus */
input, select, textarea {
  font-size: 16px !important;
}
